[Unit]
Description=Chat Backend
After=network.target

[Service]
User=root
WorkingDirectory=/root/chat/poebtalk/back
Environment="FLASK_APP=run.py"
EnvironmentFile=/root/chat/poebtalk/back/.env
ExecStart=/root/chat/poebtalk/back/.venv/bin/gunicorn --worker-class eventlet -w 1 -b 0.0.0.0:5000 run:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
